%h3
  latest blog

- if blog_posts.count < 1
  .no_responce
    Sorry, couldn't find blog posts
- else
  %ul.blog_posts
    - blog_posts.each do |p|
      %li
        %span.blog_date 
          = p.published.strftime("%b %d %Y")
        %a(href="#{p.url}" title="by #{p.author}") #{p.title}

%h3
  twitter
%ul.tweets
  - tweets.each do |t|
    %li
      %a(href="http://twitter.com/#{t.user.screen_name}" title="#{t.user.screen_name}")
        %img(src="#{t.profile_image_url}" class="tweet_icon")
      = nice_tweet(t.text)

%h3
  other stuff
%ul
  %li
    %a(href="http://dinosaurseateverybody.com" title="Dinosaurs Eat Everybody") Dinosaurs Eat Everybody
  %li
    %a(href="http://mountsaintawesome.com" title="Mount Saint Awesome") Mount Saint Awesome
  %li
    %a(href="http://eileenhays.com/" title="Urban Neo-Hippie") Urban Neo-Hippie