!!! 5
%html
  %head
    %title Dave+Eileen
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Paytone+One")
    %link(rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    %link(rel="stylesheet" type="text/css" href="../stylesheets/daveandeileen.css")
    %link(href="http://fonts.googleapis.com/css?family=Neuton" rel="stylesheet" type="text/css")

    %script{src: "../js-global/FancyZoom.js", type: "text/javascript"}
    %script{src: "../js-global/FancyZoomHTML.js", type: "text/javascript"}

    %link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
  %body(id="d_and_e_body" onload="setupZoom()")
    #shell
      %header
        %a(href="../" title="Dave + Eileen")
          #title
        #subtitle
          = get_subtitle 
          in 
          = countdown
      %nav
        #nav_box
          = haml :_nav
        %br.clear
      #main_content
        = yield
      #sidebar
        = haml :_sidebar
      %footer